div.navbar.navbar-fixed-top
    div.container
        h1 PayPal - API Explorer
        div.pplogo
            img(src= appContext + '/images/paypal-transparent-logo.png')
    div.navbar-inner.top-nav
        div.container
            ul.nav.affix-top#prodMenu
                li#AdaptivePayments.active
                    a(href=  appContext +'/AdaptivePayments') AdaptivePayments
                li#PayPalAPIs
                    a(href= appContext +'/PayPalAPIs') Merchant
                li#AdaptiveAccounts
                    a(href= appContext +'/AdaptiveAccounts') AdaptiveAccounts
                li#Invoice
                    a(href= appContext +'/Invoice') Invoice
                li#Permissions
                    a(href= appContext +'/Permissions') Permissions
                a(href='https://developer.paypal.com/', class = 'sandboxLink') PayPal Developer Website
                    span.popicon
                        img(src= appContext +'/images/pop-out_icon.png')
- if (session.authed && apiInfo.oauth && apiInfo.oauth.type =='three-legged')
    - var authed ='authed'
- else
    - var authed =''

div.bodyContent
    form#credentials
        input(type='hidden', name='apiName', value=apiName)
        - if (apiInfo.auth) 
            div(class='credentials ' + authed)
             - if (authed && apiInfo.oauth)
                 span Authenticated with OAuth
                 img(src= appContext +'/images/accept.png')
             - else
                 h2 API Credentials
                   img(src= appContext +'/images/key.png')

                 - if (apiInfo.oauth)
                     input(type='hidden', name='oauth', value='authrequired')

                 - if (apiInfo.auth.defaultKey)
                     - var defaultKey =apiInfo.auth.defaultKey
                 - else
                     - var defaultKey =''

                 - if (apiInfo.auth.defaultSecret)
                     - var defaultSecret =apiInfo.auth.defaultSecret
                 - else
                     - var defaultSecret =''
                 
                 div
                     - if (apiInfo.auth == 'authorization')
                         label(for='key') Authorization
                         input(id='authorization', name='authorization', value=apiInfo.defaultToken, style='color=#EEEEEE')
                     - else if (apiInfo.auth != 'paypal')
                         label(for='key') API Key
                         input(id='key', name='key', value=defaultKey, style='color=#EEEEEE')
                     - else
                         div.cred
                             label(for='userName') API UserName
                             input(type='text', id='userName', name='userName', value=apiInfo.apiUsername, style='color=#EEEEEE')
                         div.cred
                             label(for='password') API Password
                             input(type='text',id='password', name='password', value=apiInfo.apiPassword, style='color=#EEEEEE')
                         div.cred
                             label(for='signature') API Signature
                             input(type='text',id='signature', name='signature', value=apiInfo.apiSignature, style='color=#EEEEEE')
                      - if (apiInfo.appID)
                         div.cred
                             label(for='appId') Application ID
                             input(type='text',id='appId', name='appId', value=apiInfo.appID, style='color=#EEEEEE')
                 div
                     - if (apiInfo.oauth || apiInfo.signature)
                         label(for='secret') Shared Secret
                         input(type='text',id='secret', name='secret', value=defaultSecret, style='color=#EEEEEE')
                 - if (apiInfo.oauth && apiInfo.oauth.type !='two-legged')
                     div
                        input(name='oauth', value='Authenticate with OAuth', type='submit', id='oauth-auth')
    ul(id='endpoints')
        - each endpoint in apiDefinition.endpoints
            li.endpoint
                h3.title
                    span.name=endpoint.name                
                - if (endpoint.methods.length)
                ul.methods.hidden
                     script(src=appContext + '/javascripts/loader.js')
                    - each method in endpoint.methods
                        - var httpmethod =method.HTTPMethod.toLowerCase()
                        - if (method.RequiresOAuth ==='Y' || method.RequiresOAuth ===true)
                            - var secure ='authrequired'
                        - else
                            - var secure =''
                        li(class='method ' + httpmethod + ' ' + secure)
                            div.title
                                span(class='http-method collapseSection') &nbsp; 
                                span.name #{method.Name}
                                span.uri #{method.URI}
                                a(class='optional hide')
                                   span Show optional fields
                                   span(style='display: none;') Hide optional fields
                            form(class='hidden', enctype=method.RequestContentType)
                                input(type='hidden', name='httpMethod', value=method.HTTPMethod)
                                input(type='hidden', name='oauth', value=secure)
                                input(type='hidden', name='methodUri', value=method.URI)
                                input(type='hidden', name='methodName', value=method.Name)                                                        
                                input(type='hidden', name='dataFormat', value=method.RequestContentType)
                                - if (method.Parameters.length > 0)
                                        div.parameter
                                            span.header Parameter
                                            span.header Description                                         
                                        ul
                                        - var paramCount = 0
                                            - var check = 'false'
                                            - var hide = method.Parameters.length == 1
                                            - var elemName = ''
                                            - generateElements(method.Parameters,elemName, check, hide)
                                            - function generateElements(parameters,elemName,check, hide){
                                                - parameters.forEach(function(parameter,check){
                                                    - var className = ''
                                                    - paramCount++
                                                    - if(check =='true')
                                                    - check = 'false'
                                                    - if(elemName =='undefined')
                                                        - elemName = parameter.Name
                                                    - if (parameter.Required =='Y')
                                                        - var required = 'true'
                                                        - className ='required'
                                                    - else
                                                          - var required = 'false'
                                                          - className =''
                                                    - if (Object.prototype.toString.call(parameter) === '[object Array]')
                                                        - tmpVal = elemName
                                                        - elemName = elemName + '(0)'
                                                        - generateElements(parameter,elemName, check);
                                                        - elemName = tmpVal
                                                    - else if(parameter.Type !='complex')
                                                            -if(required == 'true')
                                                                - var id = 'required'
                                                                - var className = 'required'
                                                            -else 
                                                                - var id = 'optional'
                                                            li.title(id=id)
                                                                <div class='title param'>#{parameter.Name}</div>
                                                                <div class='description'>#{parameter.Description}</div>
                                                                <div class='title'>
                                                                - if (parameter.Type =='enumerated')
                                                                        select(name='params[' + ((elemName == 'undefined'|| elemName.trim() === '') ? '' : elemName + '.') + parameter.Name + ']', placeholder=className, class='apiInput')
                                                                            - if (parameter.Default =='')
                                                                                option(value='') 
                                                                            - each choice in parameter.EnumeratedList
                                                                                - if (parameter.Default ==choice)
                                                                                    option(value=choice, selected=true) #{choice}
                                                                                - else
                                                                                    option(value=choice) #{choice}
                                                                        span.Type #{className}
                                                                - else if (parameter.Type =='boolean')
                                                                        select(name='params[' + ((elemName == 'undefined'|| elemName.trim() === '') ? '' : elemName + '.') + parameter.Name + ']', placeholder=className, class='apiInput')
                                                                            - if (parameter.Default =='')
                                                                                option(value='') 
                                                                            - each choice in ["true", "false"]
                                                                                option(value=choice) #{choice}
                                                                            span.Type (#{className})
                                                                - else
                                                                    input(type='text',name='params[' + ((elemName == 'undefined' || elemName.trim() === '') ? '' : elemName + '.') + parameter.Name + ']', value=parameter.Default, placeholder=className, class='apiInput')
                                                                    span.Type (#{parameter.Type})
                                                                </div>
                                                    - else if(parameter.Type == 'complex')
                                                        -if(parameter.Required =='Y')
                                                            - var id = 'required'
                                                        -else 
                                                            - var id = 'optional'
                                                        ul.paramContainer
                                                            - check = 'true'
                                                            - var attr='id'+paramCount
                                                            - var tempVal = ''
                                                            - ++paramCount
                                                            - var tableId='id'+paramCount
                                                            - if(hide === true)
                                                                - var hideClass = 'hideElem'
                                                            - else
                                                                - var hideClass = ''
                                                            - hide = false    
                                                            li.trigger.title.comx(class=hideClass)(id=id)
                                                                - if (parameter.Required =='Y' || parameter.Required === true)
                                                                    - var required = 'true'
                                                                    - var className = 'required'
                                                                - else
                                                                    - var required = 'false'
                                                                    - var className = ''
                                                                <span class="title">#{parameter.Name}<span class='#{className}'>#{className}</span></span>
                                                                <span class="description">#{parameter.Description}</span>
                                                                
                                                            <ul class="borderbox">                                                        
                                                            - tempVal = elemName
                                                            - if (elemName == '')
                                                                    - elemName = parameter.Name
                                                            - else
                                                                    - elemName = ((elemName == 'undefined'|| elemName.trim() === '') ? '' : elemName + '.') + parameter.Name
                                                            - generateElements(parameter.Members,elemName, check);
                                                            - elemName = tempVal                                                         
                                                            </ul>
                                                        - if (Object.prototype.toString.call(parameter.Members[0]) === '[object Array]')
                                                            <li>
                                                            <input class="repeat1 pushbutton1" type="button" value ="Add" /> 
                                                            <input class="remove1 pushbutton1" type="button" value ="Remove"/>
                                                            </li>
                                                - })
                                            - }
                                - if (method.headers && method.headers.length > 0)
                                    div.headers
                                        h4.title
                                            div.indicator
                                            span Headers
                                        div.fields
                                            table
                                                colgroup
                                                    col(class='name')
                                                    col(class='value')
                                                    col(class='remove')
                                                thead
                                                    tr
                                                        th Name
                                                        th(colspan='2') Value
                                                tbody
                                                    tr
                                                        td
                                                            input(name='headerNames[]', placeholder='Name')
                                                        td
                                                            input(name='headerValues[]', placeholder='Value')
                                                        td
                                                            a(href='#', class='remove') Remove
                                            a(href='#', class='add-headers') Add Header
                                        // Create header fields and button to add/remove headers.
                                - if (!method['read-only'])
                                    input(type='submit', id='submit', value='Try it', class="pushbutton1 btn btn-primary")
hr.footerSec
div.footerCopyright
    span(class="copyright") Copyright &copy; 1999 - 2013 PayPal. All rights reserved. 
    ul.footerNav
        li.ftNav
            a(href="https://www.paypal.com/us/cgi-bin/webscr?cmd=p/gen/ua/policy_privacy-outside") Privacy policy
        li.ftNav
            a(href="https://cms.paypal.com/aw/cgi-bin/marketingweb?cmd=_render-content&amp;content_ID=ua/Legal_Hub_full&amp;locale.x=en_US") Legal agreements