!!! 5
html
    head
        - if (apiInfo.name)
            - var title = apiInfo.name + ' API Documentation'
        -else	
            - var title = 'Live Documentation'
        - if (appContext == 'undefined')
            - appContext ="";  
        title=title
        link(rel='stylesheet', href=appContext + '/stylesheets/prettify.css')
        link(rel='stylesheet', href=appContext + '/stylesheets/domcollapse.css')
        link(rel='stylesheet', href=appContext + '/stylesheets/bootstrap.css')       
        link(rel='stylesheet', href=appContext + '/stylesheets/style.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js')
        script(src=appContext + '/javascripts/spin.js')
        script(id='api-tryit-template', type='text/x-handlebars-template')
           div(class='response_panel')
              ul(class='nav nav-tabs')
                 li
                    a(href='#\{\{endpoint_id\}\}') Endpoint 
                 li
                    a(href='#\{\{reqheaders_id\}\}') Request headers
                 li
                    a(href='#\{\{reqbody_id\}\}') Request body
                 li
                    a(href='#\{\{respheaders_id\}\}') Response headers
                 li
                    a(href='#\{\{respbody_id\}\}') Response body
              div(class='tab-content')      
                 div(id='{{endpoint_id}}', class='endPoint  tab-pane')
                    pre.prettyprint {{endpoint}}
                 div(id='{{reqheaders_id}}', class='reqHeaders  tab-pane')
                    pre.prettyprint {{reqheaders}}
                 div(id='{{reqbody_id}}', class='call tab-pane')
                    pre.prettyprint {{reqbody}}
                 div(id='{{respheaders_id}}', class='headers  tab-pane')
                    pre.prettyprint {{respheaders}}
                 div(id='{{respbody_id}}', class='tab-pane') 
                    pre(class='prettyprint') {{respbody}}                       
    body
        !{body}
        div(id='io-footer')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js')
        script(src=appContext + '/javascripts/bootstrap.js')
        script(src=appContext + '/javascripts/handlebars-1.0.rc.1.js')
        script(src=appContext + '/javascripts/json2.js')
        script(src=appContext + '/javascripts/prettify.js')
        script(src=appContext + '/javascripts/utilities.js')
        script(src=appContext + '/javascripts/livedocs.js')
        script(src=appContext + '/javascripts/form2js.js')
        script(src=appContext + '/javascripts/docs.js')
        script(src=appContext + '/javascripts/domcollapse.js')
        script(src=appContext + '/javascripts/spinnerstop.js')
        script(src=appContext + '/javascripts/analytics.js')
