html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

#io-footer {
  margin-top: 25px;
}

#io-footer a{
  text-decoration: none;
  color: inherit;
}

#io-footer a:hover {
  text-decoration: underline;
  color: inherit;
}

.f-left {
  font-size: 8pt;
  text-align: left;
  float: left;
}

.f-right {
  font-size: 8pt;
  text-align: right;
  float: right;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}

select,
input,
textarea,
button {
  font: 99% sans-serif;
}

pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}

html {
  overflow-y: scroll;
}

a:link {
  -webkit-tap-highlight-color: #ff5e99;
}

a:hover,
a:active {
  outline: none;
}

a,
a:active,
a:visited {
  color: #607890;
}

a:hover {
  color: #036;
}

ul,
ol {
  margin-left: 2em;
}

ol {
  list-style-type: decimal;
}

nav ul,
nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

small {
  font-size: 85%;
}

strong,
th {
  font-weight: bold;
}

td {
  vertical-align: top;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

.ie6 legend,
.ie7 legend {
  margin-left: -7px;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  width: auto;
  overflow: visible;
  margin: 0;
}

textarea {
  overflow: auto;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input:invalid,
textarea:invalid {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  -o-border-radius: 1px;
  -ms-border-radius: 1px;
  -khtml-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0, 0, 5px, red;
  -webkit-box-shadow: 0, 0, 5px, red;
  -o-box-shadow: 0, 0, 5px, red;
  box-shadow: 0, 0, 5px, red;
}

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

::selection,
::-moz-selection {
  background: #f6f5c1;
  color: #444;
  text-shadow: none;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

body,
select,
input,
textarea {
  color: #444;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

input.apiInput,
select.apiInput {
  vertical-align: middle;
  width: 180px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

html {
  height: 100%;
}

body {
 
}

h1 {
  font-size: 22px;
  margin: 25px 100px 15px 15px;
  font: Helvetica Neue, lighter;
  color: #999999;
}

h2 {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 15px;
}

h4 {
  font-weight: normal;
  font-size: 14px;
}

ul {
  margin: 0;
}

li {
  list-style: none;
  margin-left: 0;
}

.credentials {
  background-color: #e8f1fa;
  border: 1px solid #e8e8e8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  *zoom: 1;
  padding: 15px;
  margin: 110px 15px 2px;
}

.credentials.authed {
  background-color: #d6f6bd;
  border-color: #86bf6a;
  padding: 10px;
}

.credentials.authed form {
  display: none;
}

.credentials img {
  margin-left: 10px;
}

.credentials h2 {
  margin-bottom: 10px;
  font-family: arial;
}

.credentials div {
  float: left;
 // margin-right: 15px;
}

.credentials form {
  margin-top: 10px;
}

.credentials label {
  font-weight: bold;
  display: block;
  margin-bottom: 3px;
  width: 200px;
  font-family: arial;
  font-size: 13px;
}

.credentials input {
 width: 400px;
 margin-bottom: 8px;
 font-family: arial;
 font-size: 13px;
}

.credentials #oauth-auth {
  margin-top: 20px;
}

#controls {
  overflow: hidden;
  *zoom: 1;
  margin-top: 10px;
  border: 1px solid #999;
  border-width: 1px 0;
  padding: 10px 0;
}

#controls li {
  padding-right: 10px;
  float: left;
}

#controls li:not(:first-child) {
  padding-left: 10px;
  border-left: 1px solid #ddd;
}

.endpoint {
  margin: 0;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  *zoom: 1;
  -moz-transition-property: background-color;
  -webkit-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.endpoint.expanded {
  background-color: #fff;
}

.endpoint > .title {
  font-weight: normal;
  padding: 20px 0 10px 10px;
  overflow: hidden;
  *zoom: 1;
}

.endpoint > .title .name {
  font-size: 18px;
  float: left;
}

.endpoint > .title .name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.endpoint > .title .actions {
  float: left;
  padding-left: 25px;
}

.endpoint > .title .actions a {
  vertical-align: middle;
}

.endpoint > .title .actions li {
  float: left;
  padding: 0 10px;
  border-left: 1px solid #ddd;
}

.endpoint > .title .actions li:first-child {
  border: 0;
}

.methods {
/*  display: none; */
}

.method {
  font-size: 14px;
  border: 1px solid #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 10px 0;
  /*    &.authrequired .http-method {
          background-image: url(/images/lock.png);
          background-repeat: no-repeat;
          background-position: 7px 50%;
      }*/
}

.method div.headers {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-bottom: 15px;
}

.method div.headers h4 {
  margin-top: 0;
}

.method div.headers .fields {
  display: none;
  padding: 0 15px;
  margin-bottom: 15px;
}

.method div.headers .indicator {
  border-width: 5px;
  border-color: transparent transparent transparent #333;
  border-style: solid;
  display: block;
  float: left;
  margin: 11px 0 0 10px;
}

.method div.headers.expanded .indicator {
  border-color: #333 transparent transparent transparent;
  margin-top: 14px;
}

.method:first-of-type {
  margin-top: 0;
}

.method .title {
  overflow: hidden;
  /*-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  background-color:#F4F4E1;*/
 l}

.method .title:hover {  
  cursor: pointer;
}

.method .title:hover span.http-method {
  text-decoration: none;
}

.method .title span {
  margin: 0 10px 0;
  line-height: 33px;
  width: auto;
  font-weight: normal;
}

.method .title span.Type {
  margin-left: 3px;
  line-height: 33px;
  width: 180px;
  font-weight: normal;
  color: #999999;
  font-size: 0.9em;
}

.method .title div {
  margin-left:20px;
  line-height: 33px;
  width: 270px;
  font-weight: normal;
  clear:left;
}

.method .title span.required{
  font-size: 0.9em;
  color: grey;
}

.method .title div.type {
  margin: 0;
  line-height: 33px;
  float: left;
  width: 50px;
  font-weight: normal;
}

.title span.type {
  float: left;
  font-size: 12px;
  text-align: left;
  width: 50px;
  font-weight: normal;
}

.method .title .uri {
  color: #777;
}

.method .title .name {
  font-size: 16px;
}

.method .title .description {
  float: right;
  font-size: 12px;
  text-align: left;
  width: 450px;
  font-weight: normal;
  line-height:130%;
  padding:10px;
}

.method .title .http-method {
  padding: 0 10px;
  width: 40px;
  font-size: 12px;
  text-align: center;
  margin: 0;
  font-family: 'Inconsolata', 'Monaco', 'Consolas', 'Bitstream Vera Mono', monospace;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  line-height: 33px;
  float: left;
}

.collapseSection {
  background: url('../images/close.png') no-repeat scroll 50% center transparent;  
}

.expandSection {
   background: url('../images/open.png') no-repeat scroll 50% center transparent;
}
.method form {
  clear: both;
  padding: 15px;
  display: none;
}

.method form a.clear-results {
  color: red;
  margin-left: 20px;
  font-size: 12px;
}

.method form a.clear-results:hover {
  background-color: red;
  color: #fff;
}

.method table {
  margin-bottom: 15px;
  width: 100%;
}

.method tr.required {
  font-weight: bold;
  color:#CC0000;
}



.complexTypePos{
    position:relative;
    left: 80px;
}

.method th {
  font-weight: bold;
  text-align: left;
}
/* line 569, scss/style.scss */
.method th, .method td {
  padding: 5px;
  vertical-align: middle;
}

.method td, .method pre {
  font-family: 'Inconsolata', 'Monaco', 'Consolas', 'Bitstream Vera Mono', monospace;
}

.method td.description {
  font-family: 'Inconsolata', 'Monaco', 'Consolas', 'Bitstream Vera Mono', monospace;
  font-size: 14px;
}

.method td.type {
  font-size: 12px;
}

.method h4 {
  margin-top: 15px;
  margin-bottom: 3px;
}

.method h4 a.select-all {
  font-size: 12px;
  margin-left: 15px;
}

.method pre {
  font-size: 12px;
  padding: 10px;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.9);
}

.method pre.response {
  max-height: 500px;
}

.method pre.prettyprint {
  padding: 10px; 
  border: 0px; 
}

.method pre.error {
  background-color: rgba(255, 245, 245, 0.9);
  border-color: rgba(255, 100, 100, 0.5);
}

.get {
  background: #e7f0f7;
}


.get th, .get td {
  border-bottom: 1px solid #9ac0de;
}

.post {
  background: #e8f1fa;
  border-color: #e8e8e8;
}


.post th, .post td {
  border-bottom: 1px solid #9ddab1;
}

.put {
  background: #f9f2e9;
  border-color: #e9cead;
}

.put .http-method {
  background-color: #b06300;
}

.put th, .put td {
  border-bottom: 1px solid #e3c399;
}

.delete {
  background: #f5e8e8;
  border-color: #deb3b3;
}

.delete .http-method {
  background-color: #a20909;
}

.delete th, .delete td {
  border-bottom: 1px solid #d6a1a1;
}

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}

.header{
	margin-right: 205px;
    margin-left: 17px;
	font-weight:bold;
}

.horizontalDiv{
width:100%; 
text-align:left; 
		
}
.horizontalDiv > div{
	float:left; 
	clear:both;
}
.complexMethod{
    font-weight: bold;
    color: #FFFFFF;
    background-color: #336699;
    
}

.comx {
    width: 100%;
}
.borderbox{
    background-color: #e8f1fa;
    border: 1px solid steelBlue;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    padding: 5px;
    margin-bottom:10px;
    margin: 2px;
}
.comx a{
	float:left;
	display:block;
    margin-top: 10px;
}

.comx > span{
	float: left; 
    overflow: hidden;
}

ul{
    position:relative;
}


.clear {
	clear: both;
}

a.optional {
	cursor: hand; cursor: pointer;
}

#api_header {
	padding: 15px 5px;
}

#api_header span {
	margin-right: 15px;
}

#api_header select {
	width: auto;
}

#endpoints {
	margin: 15px;
}


// overriding domcollapse styles

.trigger{
 	background: inherit;
}		
.expanded:hover, .trigger:hover{
	background: inherit;
}

.hideElem {
	position:absolute;
	left:-999em;
	height:1px;
	width:100px;
	overflow:hidden;
}
ul .paramContainer {
padding-left : 0px;
}


.pushbutton1 {
  margin: 10px 5px;
}

.response_panel .nav-tabs {
	margin-bottom: 0px;
}
.nav > li > a:hover {
background-color: #e8f1fa;
}
.param
{
    display: inline;
}
.navbar-fixed-top ul.nav li {
    border-color: #DDDDDD #DDDDDD #FFFFFF #FFFFFF;
    border-style: solid;
    border-width: 0 1px;   
}
.navbar-fixed-top .navbar-inner{
border-width: 1px 0;
background-color: white;
}
.navbar-inner {
min-height: 30px;
}
.navbar-fixed-top, .navbar-fixed-bottom {
background-color: white;
}
.cred{
width: 435px;
}
.navbar-fixed-top ul.nav li.active a {
    color: #007BC3;
    //position: relative;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background: -moz-linear-gradient(center top , #FFFFFF 17%, #DFDFDF 100%, #E1E1E1 0px, #F6F6F6 100%) repeat scroll 0 0 transparent;
    background-color: white;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
    color: #555555;
    text-decoration: none;
}
.sandboxLink
{
    color: #007BC3;
    float: right;
    margin: 9px 0 9px 9px;
    text-align: right;
    width: 335px;
}
.navbar .nav > li > a {
    font-weight: bold;
}
h1{
float: left;
}
.pplogo{
float: right;
margin: 25px 15px 15px;
}
.popicon{
margin-left: 10px;
}
.bodyContent{
    border: 1px solid #D4D4D4;
    margin: 15px auto;
    padding-bottom: 20px;
    width: 940px;
}
.footerSec{
    width: 1040px;
    margin: auto;
}
.footerCopyright{
    width: 910px;
    margin: auto;
    margin-top:10px;
    padding-bottom: 15px;
}
.footerNav {
    border-left: 1px solid #C1C1C1;
    float: left;
    list-style: none outside none;
    margin-left: 10px;
}
.copyright {
    float: left;
    color: #666666;
    font-size: 0.846em;
}
.ftNav{
    margin: 0 0 5px 15px;
    display: inline;
    color: #666666;
    font-size: 0.846em;
}
.apiList{
margin-left: 15px;
}